@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: yekanBakh;
        src: url(../assets/fonts/Yekan_Bakh_FaNum_04_Regular.ttf);
    }
}

html {
    @apply box-border m-0 p-0 overflow-y-scroll overflow-x-hidden h-full;
    direction: rtl;   
}

/*      ---------PACKAGE_PAGE_START------------     */

body.PACKAGE-body {
    @apply w-screen xl:w-[1442px] xl:h-[3358px] bg-[#FBFBFB] max-w-[90.125rem] mx-auto fixed right-0 m-0 p-0 overflow-y-scroll  overflow-x-hidden h-full pb-[4.875rem];
    font-family: yekanBakh;
}

section.PACKAGE-main-content {
    @apply w-full xl:w-[72.18rem] xl:ml-[2.8125rem] px-2;
}

section.PACKAGE-main-content .PACKAGE-header {
    @apply bg-white mb-[1.3125rem] h-[4.0625rem] mx-auto px-4 w-full xl:h-[5.375rem] rounded-[0.625rem] shadow-[inset_-1px_3px_3px_#D4E2ED] flex flex-row justify-between items-center;
}

.PACKAGE-lesson-book-pages {
    @apply flex items-center gap-x-2;
}

.PACKAGE-lesson-book-pages-logo {
    @apply w-[0.875rem] h-[1.125rem] xl:w-[0.875rem] xl:h-[1.125rem];
}

.PACKAGE-logo {
    @apply w-[2.125rem] h-8 xl:w-[2.68rem] xl:h-[2.5625rem];
}

.PACKAGE-package-logo {
    @apply w-[2.68rem] h-[2.675rem];
}

p.PACKAGE-book-pages-text {
    @apply not-italic font-medium hidden md:block text-[0.9375rem] leading-[1.4375rem] text-justify text-[#007BDA];
}

.PACKAGE-controller {
    @apply flex w-[82%] items-center xl:w-[22.375rem] justify-around;
}

p.PACKAGE-package-name {
    @apply not-italic font-normal text-[0.9875rem] leading-[1.5625rem] xl:text-sm xl:leading-[1.9375rem] text-[#195E8E];
}

.PACKAGE-package-controller-text {
    @apply hidden md:block not-italic font-normal text-xs leading-[19px] text-center text-[#54595E];
}

.PACKAGE-controller-icon {
    @apply w-[0.375rem] h-[0.75rem];
}

.PACKAGE-header .PACKAGE-controller .PACKAGE-controller-actions {
    @apply flex justify-around items-center w-[81%] flex-row-reverse;
}

.PACKAGE-main-content .PACKAGE-tabs {
    @apply flex-wrap text-sm font-medium text-center text-gray-500 border-b border-[#1263A1];
}

.PACKAGE-main-content .PACKAGE-tabs ul.PACKAGE-category {
    @apply flex justify-between h-[1.875rem];
}

.PACKAGE-tab {
    @apply inline-block rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300;
}

.PACKAGE-tabs .PACKAGE-category li {
    @apply w-[6.96rem] flex items-end;
    align-items: flex-end;
}

.PACKAGE-tabs .PACKAGE-category li a {
    @apply w-full not-italic font-normal text-[0.8125rem] leading-[1.125rem] text-center text-[#4182B4] p-[0.2rem] flex justify-center items-center h-[1.5625rem] border-solid border-[0.025rem] border-[#4182B4];
}

.PACKAGE-tabs .PACKAGE-category li a.PACKAGE-active {
    @apply text-white rounded-t-lg p-[0.2rem] bg-[#1263A1] h-full;

}

.PACKAGE-package-contents {
    @apply border-solid border-[0.03rem] border-[#4182B4];
    box-shadow: 0px 8.00693px 0px #D4E2ED, inset 0px 3.0026px 3.0026px #D4E2ED;
}


.carousel {
    position: relative;
    margin-top: 26px;
}

.carousel-inner {
    height: 21.125rem;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-inner #start-video , #continue-video {
    @apply absolute left-[41%] top-[45%];
}

.carousel-open:checked+.carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    @apply flex justify-center items-center h-full;
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    @apply block h-auto max-w-full mx-auto;
}

.carousel-control {
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked~.control-1 img {
    @apply inline-block;
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #BCBCBC;
    width: 0.32rem;
    height: 0.32rem;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
    @apply text-[#FBBD08];
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

.PACKAGE-package-details {
    @apply w-3/4 mx-auto relative;
}

.PACKAGE-package-details #downloadPackage{
    @apply absolute left-0;
}

.PACKAGE-package-details .PACKAGE-title {
    @apply not-italic font-medium text-[0.975rem] leading-[1.5rem] text-right text-[#062D3E];
}

.PACKAGE-package-details p {
    @apply not-italic font-normal text-[0.825rem] leading-5 text-right text-[#6B6B6B];
}

.PACKAGE-package-details #duration {
    @apply not-italic font-normal text-[0.66rem] leading-[1.125rem] text-[#062D3E] flex text-right items-center;
}

.PACKAGE-package-details #duration #clock img{
    @apply w-[0.7125rem] h-[0.7125rem];
}

.PACKAGE-package-contents .PACKAGE-test-station {
    @apply flex flex-col justify-center items-center;
}

.PACKAGE-package-contents .PACKAGE-test-station h1 {
    @apply not-italic font-normal text-xs leading-5 text-center text-[#007BDA] mt-[4.5rem];
}

.PACKAGE-weekly-recommended-packages {
    @apply mt-[2.875rem];
}


.PACKAGE-weekly-recommended-packages h1{
    @apply not-italic font-normal text-[0.9375rem] leading-[1.4375rem] text-[#007BDA] mb-3;
}

.PACKAGE-weekly-recommended-packages .PACKAGE-recommended-packages {
    @apply flex w-[123.3%] gap-x-[0.875rem] overflow-x-hidden;
}

.PACKAGE-weekly-recommended-packages .PACKAGE-recommended-packages .PACKAGE-package-card {
    @apply bg-white border-solid border-[#EDF0F1] grow border-[0.340678px] rounded-[0.35rem] w-[38.66%] pb-[0.78rem] pt-[0.375rem];
}
.PACKAGE-weekly-recommended-packages .PACKAGE-recommended-packages .PACKAGE-package-card img {
    @apply w-[15%] mr-[0.34rem] mb-[0.83rem];
}

.PACKAGE-weekly-recommended-packages .PACKAGE-recommended-packages .PACKAGE-package-card .PACKAGE-card-image {
    @apply w-[90%] mx-auto;
}

.PACKAGE-weekly-recommended-packages .PACKAGE-recommended-packages .PACKAGE-package-card .PACKAGE-title{
    @apply not-italic font-medium text-[0.74rem] leading-[1.1875rem] text-center text-[#062D3E];
}
.PACKAGE-weekly-recommended-packages .PACKAGE-recommended-packages .PACKAGE-package-card p{
    @apply not-italic font-normal text-[0.59rem]  text-center text-[#96A7AF];
}

.PACKAGE-your-videos {
    @apply w-full;
}

.PACKAGE-your-videos h1 {
    @apply not-italic font-normal text-xl leading-[1.9375rem] text-[#195E8E];
}
.PACKAGE-video-list {
    @apply flex gap-x-[1.9375rem] translate-x-[6.5rem];
}


.PACKAGE-send-file {
    @apply bg-white rounded-[0.32rem] flex justify-between mt-10 pt-[1.1875rem] pb-[1.0625rem] items-center pr-[1.0625rem] pl-3;
    box-shadow: 1px 4px 24px #D4E2ED, -3px 4px 0px #D4E2ED;
}

.PACKAGE-send-file button {
    @apply bg-[#007BDA] rounded-[0.15rem] w-[28.2%] h-[1.875rem] not-italic font-bold text-[0.6875rem] leading-[1.0625rem] text-center text-white ;
}

.PACKAGE-send-file .PACKAGE-select-file-text {
    @apply w-[41.6%];
}

.PACKAGE-send-file .PACKAGE-select-file-text h1 {
    @apply not-italic font-normal text-[0.69rem] leading-[1.0625rem] text-center text-black;
}


.PACKAGE-send-file .PACKAGE-select-file-text p {
    @apply not-italic font-normal text-[0.57rem] leading-[0.875rem] text-center;
    color: rgba(0, 0, 0, 0.4);
}

.PACKAGE-send-file img {
    @apply w-[13.1%];
}


/*      -----------PACKAGE_PAGE_END------------      */