@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: yekanBakh;
    src: url(../assets/fonts/Yekan_Bakh_FaNum_04_Regular.ttf);
}

/*      ---------PACKAGE_PAGE_START------------     */

body.PACKAGE-body {
    @apply w-[1442px] h-[3358px] bg-[#FBFBFB] max-w-[90.125rem] mx-auto;
    font-family: yekanBakh;
}

section.PACKAGE-main-content {
    @apply w-[72.18rem] ml-[2.8125rem];
}

section.PACKAGE-main-content .PACKAGE-header {
    @apply bg-white  mx-auto px-4 w-full h-[5.375rem] rounded-[0.625rem] shadow-[inset_-1px_3px_3px_#D4E2ED] flex flex-row-reverse justify-between items-center;
}

.PACKAGE-lesson-book-pages {
    @apply flex items-center gap-x-2;
}

.PACKAGE-lesson-book-pages-logo {
    @apply w-[0.875rem] h-[1.125rem];
}

.PACKAGE-logo {
    @apply w-[2.68rem] h-[2.5625rem];
}

.PACKAGE-package-logo {
    @apply w-[2.68rem] h-[2.675rem];
}

p.PACKAGE-book-pages-text {
    @apply not-italic font-medium text-[0.9375rem] leading-[1.4375rem] text-justify text-[#007BDA];
}

.PACKAGE-controller {
    @apply flex items-center w-[22.375rem] justify-around;
}

p.PACKAGE-package-name {
    @apply not-italic font-normal text-sm leading-[1.9375rem] text-[#195E8E];
}

.PACKAGE-package-controller-text {
    @apply not-italic font-normal text-xs leading-[19px] text-center text-[#54595E];
}

.PACKAGE-controller-icon {
    @apply w-[0.375rem] h-[0.75rem];
}

/*      -----------PACKAGE_PAGE_END------------      */