@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#fbfbfb];
  }
  button {
    @apply md:bg-red-600 rounded bg-transparent;
  }
  @font-face {
    font-family: yekanBakh;
    src: url(../assets/fonts/Yekan_Bakh_FaNum_04_Regular.ttf);
  }
}

@layer components {
  .page-container {
      @apply flex items-start w-full;
    }
  
    .content_container {
      @apply flex-1 w-full md:w-auto xl:mr-16;
    }
  
    .header_right-icons {
      @apply flex items-center justify-end;
    }
  
    .header_button {
      @apply m-auto;
    }
  
    .header_button button {
      @apply text-red-700 font-bold w-[85px] sm:w-[110px] pt-2 pb-1 text-xs sm:text-sm sm:px-4 md:text-white;
    }
  
    .header_nav {
      @apply flex justify-between items-center m-2 h-16;
    }
  
    .header_nav-container {
      @apply flex items-center w-full;
    }
  
    .header_avatar-container {
      @apply flex -space-x-2 overflow-hidden h-auto;
    }
  
    .header_avatar-img {
      @apply rounded-full m-1 shadow-inner;
    }
  
    .header_avatar-img img {
      @apply inline-block m-1 p-0.5 h-10 w-10 sm:h-12 sm:w-12 rounded-full border-t-2 border-l-2 border-[#65F284];
    }
  
    .header_avatar-detail-container {
      @apply flex items-center justify-between px-2 md:px-6;
    }
  
    .header_avatar-detail {
      @apply flex flex-col justify-center;
    }
  
    .header_avatar-detail h3 {
      @apply font-bold text-xs sm:text-sm md:text-xl;
    }
  
    .header_avatar-detail p {
      @apply text-xs sm:text-sm;
    }
  
    .header_icon {
      @apply pl-2 md:pl-4;
    }
  
    .header_icon.arrow {
      @apply -mt-4 pl-2.5;
    }
  
    .header_icon.arrow img {
      @apply w-3;
    }
  
    .header_icon img {
      @apply text-[#F28665] w-[50px] sm:w-[40px] md:w-[30px];
    }
  
    .header_breadcrumb {
      @apply flex mr-4;
    }
  
    .header_breadcrumb ol {
      @apply inline-flex items-center;
    }
  
    .header_breadcrumb ol li {
      @apply inline-flex items-center pl-1;
    }
  
    .header_breadcrumb ol li .items {
      @apply flex items-center;
    }
  
    .header_breadcrumb ol li a {
      @apply inline-flex items-center text-sm font-medium text-[#ACACAC] hover:text-gray-900 dark:text-gray-400 ;
    }
  
    .header_breadcrumb ol li span {
      @apply ml-1 text-sm font-medium text-[#ACACAC]
    }
  
    .menu_container {
      @apply w-full md:w-[137px] flex fixed bottom-0 items-center justify-center md:m-2 md:flex-col md:static;
    }
  
    .menu_items {
      @apply w-full bg-white md:h-264 rounded-2xl md:border-t-0 md:rounded-xl border-t-4 md:border-l-4 border-[#B8D1E3] flex md:flex-col justify-center md:justify-start items-center md:relative;
    }
  
    .menu_mobile-logo {
      @apply flex md:hidden ml-2 -mr-2;
    }
  
    .menu_mobile-logo p {
      @apply text-[#1263A1] text-center font-bold w-14 text-sm sm:text-xl;
    }
  
    .menu_sidebar-logo {
      @apply hidden md:flex mt-10 mb-[100px];
    }
  
    .menu_sidebar-logo p {
      @apply text-center text-xl font-bold text-[#1263A1];
    }
  
    .menu_items ul {
      @apply flex flex-row justify-around w-full items-center md:flex-col;
    }
  
    .menu_items li {
      @apply px-5 py-5 md:p-[3.1rem] md:py-6 md:relative;
    }
  
    .menu_items li .wrapper {
      @apply flex flex-col justify-center items-center space-y-2.5;
    }
  
    .menu_items li .wrapper p {
      @apply hidden;
    }
  
    .menu_items li .wrapper svg {
      @apply text-[#B8D1E3];
    }
  
    .menu_items li.selected .wrapper p {
      @apply block text-[#3356A3];
    }
  
    .menu_items li.selected .wrapper svg {
      @apply text-[#3356A3];
    }
  
    .menu_items li.selected {
      @apply md:-ml-1 md:border-l-4 md:border-t-0 md:border-[#fbfbfb] md:bg-[#fbfbfb];
    }
  
    .menu_items li.selected::after,
    .menu_items li.selected::before {
      @apply z-20 absolute w-6 h-6 border-[#B8D1E3] border-solid content-[''];
    }
  
    .menu_items li.selected::after {
      @apply md:-bottom-6 md:border-l-4 md:-left-1 md:rounded-t-3xl md:shadow-menu-shadow-top;
    }
  
    .menu_items li.selected::before {
      @apply md:-top-6 md:border-l-4 md:-left-1 md:rounded-b-3xl md:shadow-menu-shadow-bottom;
    }
  
    .menu_items li:active {
      @apply flex flex-col justify-center items-center;
    }
  
    .menu_items .contact-us {
      @apply absolute bottom-16 hidden md:flex;
    }
  .class_container {
    @apply mx-5 mb-32 md:mb-4;
  }
  .class_tabs {
    @apply w-full;
  }
  .class_tabs ul.tabs {
    @apply grid grid-cols-3 gap-2 font-medium text-center text-[#ADADAD] list-none border-b border-[#1263A1] mt-6;
  }
  .class_tabs ul.tabs li {
    @apply block font-medium text-sm sm:text-base leading-tight uppercase border border-b-transparent border-[#ADADAD] rounded-t-md  py-2 -mb-px hover:border-[#1263A1] hover:text-[#1263a1] hover:bg-gray-100 focus:border-[#1263A1];
  }
  .class_tabs ul li.active {
    @apply border-[#1263a1] bg-[#1263a1] text-white scale-y-110 -translate-y-0.75;
  }
  .class_tabs .tab-content {
    @apply border-r border-[#adadad] bg-white;
  }
  .class_tabs .tab-pane {
    @apply hidden h-28 overflow-auto py-2 px-4 shadow-inner;
  }
  .class_tabs .tab-pane.active {
    @apply block;
  }
  .class_tabs .tab-items {
    @apply grid grid-cols-3  gap-2 sm:gap-4 sm:mt-2 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-7;
  }
  .class_tabs .tab-items li {
    @apply text-center justify-start border shadow-[-1px_2px_0px_rgba(184,209,227,1)] border-[#1263a1] text-sm sm:text-base text-[#1263a1] rounded-3xl pb-1 pt-0.5;
  }
  .class_suggestedPack {
    @apply mt-8 -mr-2;
  }
  .class_suggestedPack h3 {
    @apply text-[#007BDA] py-2;
  }
  .class_cards-wrapper {
    @apply w-full grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-7;
  }
  .class_card {
    @apply m-2 flex flex-col justify-center items-center shadow-lg rounded-md p-2 border;
  }
  .class_card .image img,
  .class_card .image {
    @apply w-full;
  }
  .class_card .icon {
    @apply self-start pb-2 text-red-700;
  }
  .class_card .content {
    @apply text-center;
  }
  .class_card .content h4 {
    @apply font-bold text-sm py-2 text-[#062D3E];
  }
  .class_card .content p {
    @apply text-sm py-0.5 text-[#96A7AF];
  }
}



html.PACKAGE-html {
  @apply box-border m-0 p-0 overflow-y-scroll overflow-x-hidden h-full;
}

/*      ---------PACKAGE_PAGE_START------------     */

body.PACKAGE-body {
  @apply w-screen xl:w-screen xl:h-[100vh] bg-[#FBFBFB]  mx-auto fixed right-0 m-0 p-0 overflow-y-scroll  overflow-x-hidden h-full pb-[7.875rem];
  font-family: yekanBakh;
}

section.PACKAGE-main-content {
  @apply w-full mt-4 sm:mt-[1.3125rem] md:mt-4 lg:mt-3 xl:mt-[1.1875rem] xl:w-[72.19rem] max-w-[90.125rem]  px-2 md:w-[91.9%] lg:w-[93.35%] md:mx-auto md:px-0 ;
  direction: rtl;
}

section.PACKAGE-main-content .PACKAGE-header {
  @apply bg-white mb-[1.3125rem] h-[4.0625rem] md:mb-[25px] lg:mb-[30px] mx-auto px-4 w-full xl:h-[5.375rem] lg:pr-[1.439375rem] rounded-[0.625rem] shadow-[inset_-1px_3px_3px_#D4E2ED] flex flex-row justify-between items-center xl:mb-[3.125rem];
}

.PACKAGE-lesson-book-pages {
  @apply flex items-center gap-x-2 flex-row-reverse;
}

.PACKAGE-lesson-book-pages-logo {
  @apply w-[1.5rem] h-[1.5rem] sm:w-[1.5rem] sm:h-[1.5rem] xl:w-[1.5rem] xl:h-[1.5rem];
}

.PACKAGE-logo {
  @apply w-[2.125rem] h-8 lg:w-[2.685625rem] lg:h-[2.765rem] md:w-[2.625rem] md:h-[2.4925rem] xl:w-[2.68rem] xl:h-[2.765rem];
}

.PACKAGE-package-logo {
  @apply w-[2.68rem] h-[2.675rem];
}

p.PACKAGE-book-pages-text {
  @apply not-italic font-medium hidden md:block lg:text-[0.9375rem] lg:leading-[1.453125rem] md:text-[0.625rem] md:leading-[0.9375rem] text-[0.9375rem] leading-[1.4375rem] text-[#007BDA] xl:leading-[1.4375rem];
}

.PACKAGE-controller {
  @apply flex w-[82%] md:w-[52.2%] lg:w-[48.38%] items-center xl:w-[22.375rem] justify-around;
}

p.PACKAGE-package-name {
  @apply not-italic font-normal lg:text-[1.25rem] lg:leading-[1.9375rem] text-[0.9875rem] leading-[1.5625rem] md:text-[0.98rem] xl:text-xl xl:leading-[1.9375rem] text-[#195E8E];
}

.PACKAGE-package-controller-text {
  @apply hidden md:w-[14.3%] md:block not-italic font-normal text-xs md:text-[0.5925rem] md:leading-[0.9375rem] lg:text-[0.75rem] lg:leading-[1.1875rem] leading-[19px] text-center text-[#54595E] xl:text-[0.75rem] xl:leading-[1.1875rem];
}

.PACKAGE-controller-icon {
  @apply w-[0.375rem] h-[0.75rem];
}

.PACKAGE-header .PACKAGE-controller .PACKAGE-controller-actions {
  @apply flex justify-around items-center w-[81%] flex-row-reverse;
}

.PACKAGE-main-content .PACKAGE-tabs {
  @apply flex-wrap text-sm font-medium text-center text-gray-500 border-b border-[#1263A1] lg:mx-[0.0625rem];
}

.PACKAGE-main-content .PACKAGE-tabs ul.PACKAGE-category {
  @apply flex justify-between h-[1.875rem] border-b-[1px] border-[#4182B4];
}

.PACKAGE-tab {
  @apply inline-block rounded-t-[5px] md:rounded-t-[0.4375rem] lg:rounded-t-[8px] xl:rounded-t-[0.625rem] hover:text-gray-600 hover:bg-gray-50  ;
}

.PACKAGE-tabs .PACKAGE-category li {
  @apply w-[32.3%] md:w-[32.52%] lg:w-[32.53%] flex items-end;
}

.PACKAGE-tabs .PACKAGE-category li a {
  @apply w-full xl:flex xl:gap-x-[1.375rem] sm:h-[1.875rem] md:h-[2.1875rem] lg:h-10 xl:h-[3.4375rem] not-italic font-normal text-[0.8125rem] leading-[1.125rem] md:text-[1.0625rem] md:leading-6 lg:text-base lg:leading-[1.75rem] xl:text-[1.375rem] xl:leading-[1.9375rem] text-center text-[#4182B4] p-[0.2rem] flex justify-center items-center h-[1.5625rem] border-solid border-[0.025rem] border-[#4182B4] border-b-transparent;
  /* @apply w-full scale-y-110 -translate-y-0.75 xl:flex xl:gap-x-[1.375rem] not-italic font-normal text-[0.8125rem] leading-[1.125rem] md:text-[1.0625rem] md:leading-6 lg:text-base lg:leading-[1.75rem] xl:text-[1.375rem] xl:leading-[1.9375rem] text-center text-[#4182B4] p-[0.2rem] flex justify-center items-center h-[1.5625rem] border-solid border-[0.025rem] border-[#4182B4] border-b-transparent; */
}

.PACKAGE-tabs .PACKAGE-category li a.PACKAGE-active {
  @apply text-white rounded-t-lg p-[0.2rem] bg-[#1263A1] h-full sm:h-[2.1875rem] xl:h-[3.75rem] md:h-10 lg:h-[2.8125rem] md:font-bold border-solid border border-[#1263A1] lg:text-base lg:leading-[1.75rem] xl:text-[1.375rem] xl:leading-[1.925rem];
  /* @apply text-white scale-y-110 -translate-y-0.75 rounded-t-lg p-[0.2rem] bg-[#1263A1] h-full md:font-bold border-solid border border-[#1263A1] lg:text-base lg:leading-[1.75rem] xl:text-[1.375rem] xl:leading-[1.925rem]; */

}

.PACKAGE-package-contents {
  @apply -mt-[1px] border-solid border-[0.03125rem] border-[#4182B4] rounded-b-[5px] lg:mx-[0.0625rem];
  box-shadow: 0px 8.00693px 0px #D4E2ED, inset 0px 3.0026px 3.0026px #D4E2ED;
}

.PACKAGE-package-contents .PACKAGE-package {
  @apply md:w-[48%] md:mx-auto relative w-full lg:w-[47.14%] xl:w-[31.457%] max-w-[22.861875rem];
}

.PACKAGE-package-contents .PACKAGE-package  .PACKAGE-popup{
  @apply absolute pt-[0.5625rem] md:pt-[0.3875rem] lg:bottom-[13.1rem] md:h-[1.9375rem] md:pr-[0.97rem] md:pl-[0.78rem] md:pb-[0.41rem] md:w-[38.9%] px-[1.3125rem] pb-[0.5737rem] bg-white shadow-[1px_2px_1px_#DAE0E2] z-40 rounded-[0.625rem] w-[43%] h-[2.875rem] left-0 bottom-[9.1rem];
}

.PACKAGE-package-contents .PACKAGE-package  .PACKAGE-popup #title{
  @apply not-italic font-bold text-[0.6rem] leading-[0.9375rem] md:text-[0.39rem] md:leading-[0.625rem] text-right text-[#FB7171] relative;
}

.PACKAGE-package-contents .PACKAGE-package  .PACKAGE-popup #teacher{
  @apply not-italic font-normal text-[0.6rem] leading-[0.9375rem] md:text-[0.41rem] md:leading-[0.625rem] text-right text-[#54595E] relative;
}

.PACKAGE-test {
  @apply w-full bg-[#E8F0F6] rounded-tl-[0] rounded-tr-[0] rounded-br-[0.3125rem] rounded-bl-[0.3125rem] md:pt-[2.0625rem] md:pr-[1.5625rem] md:pl-4 pt-[1.9375rem] px-[0.9375rem] pb-[1.625rem] md:pb-[0.875rem] lg:pt-[3.4375rem] lg:pr-[1.875rem] lg:pl-[1.8125rem] lg:pb-0 xl:pt-[2.220625rem] xl:pr-[1.9375rem] xl:pl-[1.9375rem] xl:pb-[0.9375rem];
}


.carousel {
  @apply relative mt-[26px] lg:mt-0;
}

.carousel-inner {
  @apply md:w-[48%];
  height: 21.125rem;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-inner #start-video , #continue-video {
  @apply absolute left-[41%] top-[45%] md:w-[13%] lg:w-[11.63%] xl:w-[2.6875rem];
}

.carousel-open:checked+.carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  @apply flex justify-center items-center h-full;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-item img {
  @apply block h-auto max-w-full mx-auto md:w-[70%] md:min-w-[10.895625rem];
}

.carousel-control {
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carousel-1:checked~.control-1 img {
  @apply inline-block  md:w-[0.25] md:h-[0.51rem] lg:w-[0.375rem] lg:h-3;
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: #BCBCBC;
  width: 0.32rem;
  height: 0.32rem;
  cursor: pointer;
  display: block;
  font-size: 20px;
}

.carousel-bullet:hover {
  color: #aaaaaa;
}

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
  @apply text-[#FBBD08];
}

#title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

.PACKAGE-package-details {
  @apply w-3/4 mx-auto relative;
}

.PACKAGE-package-details #downloadPackage{
  @apply absolute left-0 w-12 h-12 md:w-9 md:h-9 lg:w-[2.6875rem] lg:h-[2.6875rem];
}

.PACKAGE-package-details .PACKAGE-title {
  @apply not-italic font-medium text-[0.975rem] leading-[1.5rem] text-right text-[#062D3E] md:text-[0.69rem] md:leading-[1.0625rem] lg:text-[1.0125rem] lg:leading-[1.56875rem] xl:text-[1.2rem] xl:leading-[1.5625rem] lg:mb-[0.4425rem];
}

.PACKAGE-package-details p {
  @apply not-italic font-normal text-[0.825rem] leading-5 md:text-[0.59rem] md:leading-[0.9375rem] lg:text-[0.85625rem] lg:leading-[1.3275rem] text-right lg:mb-[0.746875rem] text-[#6B6B6B];
}

.PACKAGE-package-details #duration {
  @apply not-italic font-normal gap-x-[0.504375rem] lg:gap-x-[0.536875rem] md:gap-x-[0.43rem]  text-[0.66rem]  leading-[1.125rem] md:text-[0.47rem] md:leading-[0.8125rem] lg:text-[0.6875rem] lg:leading-[1.165625rem] xl:leading-[1.1875rem] text-[#062D3E] flex text-right items-center;
}

.PACKAGE-package-details #duration #clock img{
  @apply w-[0.7175rem] h-[0.7175rem] md:w-[7.91px] lg:w-[11.48px] lg:h-[0.745rem];
}

.PACKAGE-package-contents .PACKAGE-test-station {
  @apply flex flex-col justify-center items-center;
}

.PACKAGE-test img.PACKAGE-question-pic{
  @apply mix-blend-overlay lg:mx-0 lg:mix-blend-normal w-[100.2%] mx-auto  md:w-[97.7%] lg:w-[39.76%] lg:h-[15.625rem] xl:w-[30.66%];
}

.PACKAGE-package-contents .PACKAGE-test-station img{
  @apply mb-[1.25rem] w-12 max-w-[3rem] md:max-w-[2.631875rem] md:w-[2.25rem]  md:mb-[1.92rem] lg:w-[2.6875rem] lg:mb-[1.375rem] xl:mb-[0.966875rem];
}

.PACKAGE-package-contents .PACKAGE-test-station h1 {
  @apply mb-2 not-italic font-normal text-[0.75rem] md:mt-[1.65rem] md:mb-[0.375rem] lg:mt-[2.634375rem] lg:mb-[0.493125rem] xl:mt-[0.5725rem] xl:mb-[0.430625rem] leading-5 text-center text-[#007BDA] mt-[4.5rem] ;
}

.PACKAGE-weekly-recommended-packages {
  @apply  overflow-x-scroll ;
}

.PACKAGE-weekly-recommended-packages-wrapper {
  @apply mt-[1.375rem] sm:mt-[1.6875rem] md:mt-8 lg:mt-[2.8125rem] xl:mt-[2.9375rem];
}

.PACKAGE-weekly-recommended-packages-wrapper #recommended-package-title {
  @apply not-italic font-normal text-[0.9375rem] leading-[1.4375rem]  md:text-[1.25rem] md:leading-[1.9375rem] text-[#007BDA] mb-3 md:mb-[1.3125rem] lg:mb-[2.625rem] xl:mb-[2.1875rem];
}

.PACKAGE-weekly-recommended-packages .PACKAGE-recommended-packages {
  @apply flex w-[123.3%] pb-[1.875rem] gap-x-[0.875rem] md:gap-x-[0.625rem] xl:gap-x-[2.3125rem] overflow-x-hidden lg:gap-x-[1.63375rem];
}

.PACKAGE-weekly-recommended-packages .PACKAGE-recommended-packages .PACKAGE-package-card {
  /* @apply bg-white border-solid border-[#EDF0F1] max-w-[10.25rem] grow md:grow-0 md:w-[19.86%] lg:w-[13.87%] xl:w-[9.33%] shadow-card-shadow border-[0.340678px] rounded-[0.35rem] w-[38.66%] pb-[0.78rem] pt-[0.375rem] xl:pb-[0.789375rem]; */
  @apply bg-white border-solid  border-[#EDF0F1] md:grow-0 w-[8.30375rem] shadow-card-shadow border-[0.340678px] rounded-[0.35rem] pb-[0.78rem] pt-[0.375rem] xl:pb-[0.789375rem];
}
.PACKAGE-weekly-recommended-packages .PACKAGE-recommended-packages .PACKAGE-package-card img {
  @apply w-[15%] mr-[0.34rem] mb-[0.83rem] md:mr-[0.34rem] lg:mr-[0.349375rem] lg:mb-[0.8225rem] xl:mb-[0.83rem] xl:w-[1.205rem] xl:h-[1.240625rem];
}

.PACKAGE-weekly-recommended-packages .PACKAGE-recommended-packages .PACKAGE-package-card .PACKAGE-card-image {
  /* @apply w-[90%] mx-auto md:mb-[0.5625rem] lg:w-[89.75%] lg:mb-[0.5625rem] xl:h-[5.875rem] xl:mb-[0.5625rem]; */
  @apply w-[7.3125rem] mx-auto md:mb-[0.5625rem] lg:mb-[0.5625rem] h-[5.875rem] xl:mb-[0.5625rem];
}

.PACKAGE-weekly-recommended-packages .PACKAGE-recommended-packages .PACKAGE-package-card .PACKAGE-title{
  @apply not-italic font-medium text-[0.74rem] leading-[1.1875rem] xl:text-[0.748125rem] text-center text-[#062D3E] md:mb-[0.64rem] lg:text-[0.7484375rem] lg:mb-[0.641875rem] xl:mb-[0.641875rem];
}
.PACKAGE-weekly-recommended-packages .PACKAGE-recommended-packages .PACKAGE-package-card p{
  @apply not-italic font-normal text-[0.59rem] pb-[5px]  text-center text-[#96A7AF] leading-[0.625rem] lg:text-[0.59875rem];
}

.PACKAGE-your-videos {
  @apply w-full mt-[1.8125rem] md:mt-[2.875rem] lg:mt-[2.3125rem] xl:mt-[3.5625rem];
}

.PACKAGE-your-videos #your-videos-title {
  @apply not-italic font-normal text-xl leading-[1.9375rem] mb-[1.6875rem] md:leading-[1.9375rem] md:mb-[2.0625rem] text-[#195E8E] lg:mb-[2.0625rem];
}
.PACKAGE-video-list {
  @apply flex gap-x-[1.9375rem] md:gap-x-8 overflow-x-scroll;
}


.PACKAGE-send-file {
  @apply bg-white xl:w-[67%] mx-auto lg:max-w-[48.25rem] rounded-[0.32rem] flex justify-between mt-10 md:mt-[2.75rem] pt-[1.1875rem] pb-[1.0625rem] items-center pr-[1.0625rem] pl-3 md:pt-[1.125rem] md:pr-8 md:pb-[1.375rem] md:pl-4 lg:mt-[5.125rem] lg:pr-[4.4375rem] lg:pl-[3.5625rem] xl:mt-[6.1875rem] ;
  box-shadow: 1px 4px 24px #D4E2ED, -3px 4px 0px #D4E2ED;
}

.PACKAGE-send-file button {
  /* @apply bg-[#007BDA] rounded-[0.15rem] w-[28.2%] md:w-[19.6%] h-[1.875rem] not-italic font-bold text-[0.6875rem] leading-[1.0625rem] text-center text-white lg:w-[13.4%] xl:w-[15.18%]; */
  @apply bg-[#007BDA] w-[6.0625rem] rounded-[0.15rem] h-[1.875rem] not-italic font-bold text-[0.6875rem] leading-[1.0625rem] text-center text-white;
}

.PACKAGE-send-file .PACKAGE-select-file-text {
  /* @apply w-[235px] h-16 md:w-[53.6%]; */
  @apply h-16 md:w-[53.6%];
}

.PACKAGE-send-file .PACKAGE-select-file-text h1 {
  @apply not-italic font-normal lg:mb-0 text-[0.69rem] sm:text-[0.85rem] py-1 leading-[1.0625rem] md:text-[0.9375rem] md:leading-[1.4375rem] text-center text-black;
}


.PACKAGE-send-file .PACKAGE-select-file-text p {
  @apply not-italic font-normal text-[0.57rem] py-1 leading-[0.875rem] sm:text-[0.77rem] md:leading-[1.1875rem] lg:text-[0.774375rem] text-center;
  color: rgba(0, 0, 0, 0.4);
}

.PACKAGE-send-file img {
  @apply w-[13.1%] md:w-[14.8%] md:h-[3.2rem] sm:h-[3.75rem] h-[1.9375rem] lg:w-[10.8%];
}

.PACKAGE-point-of-view {
  @apply mt-10 md:mt-[3.6875rem];
}

.PACKAGE-point-of-view h1{
  @apply not-italic font-normal text-[0.9375rem] sm:text-xl sm:leading-[1.9375rem] sm:mb-[1.8125rem] leading-[1.4375rem] text-justify text-[#195E8E] mb-[2.3125rem];
}

.PACKAGE-point-of-view  #pointOfView {
  @apply bg-white w-full md:w-[97.79%] lg:w-[99.49%] xl:w-[99.92%] lg:pt-[1.875rem] lg:pr-[1.5625rem] lg:pl-[1.75rem] xl:pl-[1.9375rem] xl:mb-[1.4375rem] shadow-[inset_-1px_3px_2px_#D4E2ED] rounded-[0.625rem] pt-[1.875rem] pr-[1.5625rem] pl-[1.0625rem] pb-8 mb-[2.1875rem] md:mb-[1.3125rem] lg:mb-[1.8125rem];
}

.PACKAGE-point-of-view .PACKAGE-send-view {
  /* @apply bg-[#007BDA] rounded-[0.15rem] w-[28.2%] md:w-[17.9%] h-[1.875rem] not-italic font-bold text-[0.6875rem] leading-[1.0625rem] text-center text-white lg:w-[12.57%] xl:w-[8.40%] xl:rounded-[0.15625rem]; */
  @apply bg-[#007BDA] w-[6.0625rem] rounded-[0.15rem] h-[1.875rem] not-italic font-bold text-[0.6875rem] leading-[1.0625rem] text-center text-white xl:rounded-[0.15625rem];
}

.PACKAGE-user-comments {
  @apply flex flex-col w-full pt-[2.5625rem] xl:gap-y-[2.875rem] gap-y-[2.6875rem] md:pt-[2.875rem] md:gap-y-[2.6875rem] lg:pt-[2.8125rem] lg:gap-y-[2.6875rem] xl:pt-[3.187rem];
}

.PACKAGE-user-comments .PACKAGE-comment{
  @apply w-full bg-white rounded-[0.3125rem] pt-3 pr-[1.0625rem] pb-[0.8125rem] pl-3  md:pr-[0.875rem] md:pl-[1.625rem] lg:pt-3 lg:pr-5 lg:pl-[2.4375rem] lg:pb-[0.8125rem] xl:pr-6 xl:pl-[2.4375rem];
  box-shadow: -4px 3px 0px rgba(212, 226, 237, 0.25), 0px -1px 28px #D4E2ED;
}

.PACKAGE-user-comments .PACKAGE-comment .PACKAGE-title {
  @apply w-full flex justify-between;
}
.PACKAGE-user-comments .PACKAGE-comment .PACKAGE-title h3 {
  @apply not-italic font-bold text-[0.9375rem] leading-[1.4375rem] xl:leading-[1.453125rem] text-right text-[#402F2F];
}

.PACKAGE-user-comments .PACKAGE-comment .PACKAGE-title p {
  @apply not-italic font-normal text-[0.625rem] leading-[0.9375rem] text-right text-[#808080];
}

.PACKAGE-user-comments .PACKAGE-comment .PACKAGE-grade {
  @apply not-italic font-normal text-[0.8125rem] leading-5 text-right text-[#808080] mb-[0.5625rem] lg:mb-[0.5625rem] xl:mb-[0.58625rem];
}

.PACKAGE-user-comments .PACKAGE-comment .PACKAGE-comment-content {
  @apply not-italic font-light pl-[0.3125rem] sm:pl-0 text-[0.711rem] leading-[1.125rem] xl:text-[0.7125rem] text-black text-justify ;
}

.PACKAGE-user-comments .PACKAGE-comment .PACKAGE-comments-actions {
  @apply flex gap-x-3 flex-row-reverse justify-start items-center;
}

.PACKAGE-user-comments .PACKAGE-comment .PACKAGE-comments-actions .PACKAGE-reply{
  @apply flex justify-between gap-x-[0.34rem] md:gap-x-[0.348125rem] lg:gap-x-[0.348125rem] items-center not-italic font-normal text-[0.75rem] leading-[1.1875rem] md:text-[0.75rem] bg-white text-right text-[#FF630C];
}

.PACKAGE-user-comments .PACKAGE-comment .PACKAGE-comments-actions .PACKAGE-reply span img{
  @apply w-[0.57rem] h-[0.57rem];
}

.PACKAGE-comments-actions .PACKAGE-like {
  @apply  bg-white;
}
.PACKAGE-comments-actions .PACKAGE-like img {
  @apply w-[1.375rem] h-[1.0625rem] lg:h-[1.375rem];
}

.PACKAGE-user-comments .PACKAGE-comment .PACKAGE-comments-actions .PACKAGE-like-count{
  @apply not-italic font-normal text-[0.75rem] leading-[1.1875rem] text-right text-[#195E8E] md:text-[0.75rem] md:leading-[1.1875rem] lg:leading-[1.1875rem];
}

.PACKAGE-test .PACKAGE-options {
  @apply lg:w-[58%] md:w-full xl:flex xl:flex-wrap xl:w-[64%] xl:h-[10%];
}

.PACKAGE-test .PACKAGE-choice {
  @apply flex justify-start xl:h-[12%] xl:w-[50%] lg:mb-[1.3125rem] gap-x-[0.5625rem] mb-[0.875rem] items-center lg:gap-x-[0.8125rem];
}

.PACKAGE-test .PACKAGE-choice p{
  @apply not-italic font-light text-[0.75rem] leading-[1.1875rem] md:text-[0.9375rem] md:leading-[1.4375rem] lg:leading-[1.453125rem] xl:leading-[1.4375rem] text-justify text-black;
}
.PACKAGE-test .PACKAGE-choice span img{
  @apply w-[1.02rem] lg:w-[1.029375rem] lg:h-[1.029375rem];
}

.PACKAGE-test .PACKAGE-question-text {
  @apply  not-italic font-medium text-[0.75rem] leading-[1.1875rem] sm:text-[0.9375rem] md:leading-[1.4375rem] lg:text-[1.125rem] lg:leading-[1.74375rem] xl:leading-7 text-justify text-black mb-[2.8125rem] md:mb-[1.75rem] lg:mb-[2.8125rem];
}

.PACKAGE-test button{
  @apply w-[28.2%] max-w-[6.0625rem] md:mt-[1.6875rem] md:w-[19%] h-[1.875rem] md:h-[1.875rem] lg:relative lg:-top-[1.925rem] lg:mt-0 lg:w-[13.08%] xl:w-[8.86%] bg-[#007BDA] mt-[2.1875rem] rounded-[0.15625rem] not-italic font-bold text-[0.6875rem] leading-[1.0625rem] lg:leading-[1.065625rem] xl:leading-[1.0625rem] text-center text-white;
}


/*      -----------PACKAGE_PAGE_END------------      */